public/assets
public/assets/
public/index.html
.bundle
.sass-cache/
Gemfile.lock
db/*.sqlite3*
log/*.log
tmp/
*.swp
db/schema.rb
db/schema.rb
db/*schema.rb*
dump.rdb
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/*.yml
rerun.txt
pickle-email-*.html
