./public/assets
./public/assets/manifest.yml
public/assets
public/assets/manifest.yml
public/index.html
.bundle
.sass-cache/
Gemfile.lock
db/*.sqlite3*
log/*.log
tmp/
*.swp
*.swo
dump.rdb
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.livereload
app/assets/stylesheets/.livereload
*.rdb
config/database.yml
*~
