%div.autocomplete-container
  %div.autocomplete-search-box 
    %input{:id => "autocomplete-list", :type => :text, :placeholder => "ex. CS 225", :name => "term", :title => "Just add classes", "autocomplete" => ""}
    %div{:class => "autocomplete-list-bg" }
    %div{:class => "autocomplete-suggestion" }
