%div.autocomplete-search-box 
  %input{:id => "autocomplete-list", :type => :text, :placeholder => "", :name => "term", :title => "Just add classes"}
  %div{:class => "autocomplete-list-bg" }
  %div{:class => "autocomplete-suggestion" }
