%input{:id => "autocomplete-course-list", :type => "text"}
%br
%h3 Your classes 
%ul#user-course-list
  - for course in current_user.courses
    %li
      = course.to_s
      = link_to("x", remove_course_path(course.id), :remote => true, :class=>"remove-link")
-# Use a hidden form to keep track of the selected classes
=form_tag({:controller => :user, :action=> :add_courses}, :method => :post, :id => "hidden-course-form" ) do
  =submit_tag("Add Classes", {:class => 'btn default'})
= javascript_include_tag "forms/schedule-autocomplete"
