%div.ui-widget
  %div.autocomplete-search-box 
    %input{:id => "autocomplete-list", :type => :text, :placeholder => "Add Classes (ex. RHET 103)", :name => "term"}
    %div{:class => "autocomplete-list-bg" }
    %div{:class => "autocomplete-suggestion" }
