%div.autocomplete-search-box 
  %input{:id => "autocomplete-list", :type => :text, :placeholder => "ex. PHYS 211", :name => "term", :title => "Just add classes", :autocomplete => "", "a-selected" => "schedule.addCourse(courseId)"}
  %div{:class => "autocomplete-list-bg" }
  %div{:class => "autocomplete-suggestion" }
