<div id="fb-root"></div>
<%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" %>
<%= javascript_include_tag "general/fb_button" -%>
<fb:login-button id="fb-button" scope="email, offline_access">Log in</fb:login-button>
