<div id="fb-root"></div>
<%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" %>
<%= javascript_include_tag :fb_button_init -%>
<fb:login-button scope="email, offline_access">Fuck cliff in the face</fb:login-button>
