%div#fb-root
  = javascript_include_tag "http://connect.facebook.net/en_US/all.js"
  = javascript_include_tag "general/fb_button"
  <fb:login-button class="fb-button" scope="email, user_education_history, friends_education_history"> Log in</fb:login-button>
