%li= link_to 'My Schedule', scheduler_show_path( current_user.id )
%li.dropdown
  = link_to current_user.name, '', {:class => "dropdown-toggle name"}
  %ul.dropdown-menu
    %li= link_to 'Logout', logout_path
