%div#user-course-list
  %h1 Your Courses 
  - unless current_user and not current_user.courses.empty?
    %span.hint Don't have any classes yet, add some?
  %ul
    - if current_user
      - for course in current_user.courses
        %li
          = link_to("X", remove_course_path(course.id), :remote => true, :class=>"remove-link")
          %span= course.to_s
  = form_tag({:controller => :user, :action=> :add_courses}, :method => :post, :id => "hidden-course-form" ) do
    =submit_tag("Schedule", {:class => 'btn primary hidden'})
= javascript_include_tag "forms/schedule-autocomplete"
