%h1 Make the perfect schedule.
%div.ui-widget
  %div#class-search-box 
    %input{:id => "autocomplete-course-list", :type => "text", :placeholder => "Add Classes (ex. RHET 103)", :style => "background: transparent;"}
    %div{:id => "autocomplete-course-list-bg" }
    %div{:id => "autocomplete-course-completion" }
