%div.content
  %h1 About

  %p
    Classwhole was developed by 
    %a{:href=>"http://kryali.com"} Kiran Ryali,
    %a{:href=>"http://swilso.com"} Scott Wilson,
    and
    %a{:href=>"http://jhuze.com"} Jon Hughes
    for <a href="http://illinois.edu">UIUC</a>.

  %p 
    We built this website because we wanted a better way discover classes and the people in them. 
  %p 
    Currently, we're compiling feedback and making improvements for our second launch on April 2012. So if you have any suggestions, please send them to <span class="to-reverse email">moc.elohwssalc@kcabdeef</span>
    = javascript_include_tag "email.js"
