development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: mysql2
  encoding: utf8
  database: production_db
  pool: 5
  username: classwhole
  password: yourpasswordhere
  socket: /var/run/mysqld/mysqld.sock
