%ul.courses{"ng-model" => "schedule"}
  %li{"ng-repeat" => "course in schedule"}
    %div.course-header
      %div{:class => "highlight {{color(course.id)}}"}
      %div{:class => "header-container vertical-center"}
        %a.course-name {{course.name}}
        %span.course-title{"truncate"=>"35"} {{course.title}}
        %span.course-hours {{course.hours}}
        %a{:href=>"#", :class=>"remove-course" , "ng-show" => "canModify","ng-click" => "removeCourse(course.id)"} x
    %ul.sections{"ng-repeat" => "section in course.sections"}
      %li{"ng-repeat" => "meeting in section.meetings"}
        %div
          %span{:class=>"section-type label"} {{section.type}}
          %span.code {{section.code}}
          %span{ :class=>"enrollment status-0"}
          %span.crn {{section.crn}}
          %span.instructor {{print_instructor(meeting.instructor)}}
          %span.time {{meeting.duration}}

:javascript 
  $(document).ready( function() {
    linkify_classes($(".course-header .course-name")); //TODO move this into a directive or just make the link u fuk
    $("ul.classmates a").click(function() {
      mpq.track( "click sidebar profile" );
    });
  });
