%div.modal
  %div.modal-header
    %a{ :class => "x-button", :onclick => "hideModal()"} 
    %h3 #{name.capitalize}
  %div.modal-body
    %h2 Please log in to #{name} your schedule
  %div.modal-footer
    %a{:class=>"button grey close-modal small", :onclick => "hideModal()"} Close
    %a= render 'shared/fb_login_button'
