%div.modal
  %div.modal-header
    %a{ :class => "x-button", :onclick => "hideModal()"} X
    %h3 #{capitalize_first_letter(name)}
  %div.modal-body
    %h2 You must log in to #{name} your schedule.
    %a= render 'shared/fb_login_button'
  %div.modal-footer
    %a{:class=>"btn primary close-modal", :onclick => "hideModal()"} Close
