= javascript_include_tag "renderer.js"
%canvas{ :id=>"schedule-render", :class=>"hidden" }
  Your browser does not support this feature.
  Consider using a better browser such as Chrome.
  http://www.google.com/chrome
:javascript
  var sections = #{sections.to_json}
