-#
-# This view is responsible for displaying a user's schedule
-# - see scheduler_helper for any unfamiliar functions
-#
-# arr_sections = 
- sections = [] if sections.nil?
%div{:class => "schedule-wrapper", "ng-show" => "schedule.length > 0" }
  %ul.time-label
    %li{"ng-repeat" => "hour in hourRange"} 
      {{print_hour(hour)}}
  %div{:class => "schedule-content fill-width", "data-tooltip" => "" }
    %ul.toolbar
      %li
        %a{:href => "#"} save
        %span
      %li
        %a{:href => "#"} image
        %span
      %li
        %a{:href => "#"} share
        %span
    %ul.day-header
      %li.header{"ng-repeat" => "day in days()"} {{day}}
    %div{:class => "schedule-display"}
      - if sections.empty?
        -if @user
          %h1= "#{@user.name} hasn't shared a schedule yet."
        -elsif params[:action] != "realtime" 
          %h1 Sorry, we couldn't find a schedule.
      - else
        %ul{:class => "schedule-day", "ng-repeat" => "day in days()"}
          %li{"ng-repeat" => "hour in hourRange"}
        %div.schedule-block{"ng-repeat" => "section in flattenSchedule(schedule)", :day => "{{section.day}}", "start-time" => "10:00", "end-time" => "12:30", "section" => "" }
          %div.highlight{:class=>"{{color(section.course.id)}}"}
          %div.section-content{:class => "fill-height"}
            %span.course-name {{section.course.name}}
            %span.section-code  {{section.code}}
            %span.course-title {{section.course.title}}
            %span{ :class => "enrollment status-{{section.enrollment}}", :title => "{{section.reason}}"}
            %span.section-type {{section.type}}
            %span.duration {{section.duration}}
