-#
-# Main schedule Display
-# -  use showActiveSchedule to show/hide the schedule
-#
%div{:class => "schedule-wrapper", "ng-show" => "showActiveSchedule()" }
  %ul.time-label
    %li{"ng-repeat" => "hour in schedule.enumerateRange()"}
      {{print_hour(hour)}}
  %div{:class => "schedule-content", "data-tooltip" => ""}
    %ul.toolbar
      %li
        %a{:href => "#"} save
        %span
      %li
        %a{:href => "#"} image
        %span
      %li
        %a{:href => "#"} share
        %span
    %ul.day-header
      %li.header{"ng-repeat" => "day in days()"} {{day}}
    %div{:class => "schedule-display"}
      %ul{:class => "schedule-day", "ng-repeat" => "day in days()"}
        %li{"ng-repeat" => "hour in schedule.enumerateRange()"}
      %div.schedule-block{"ng-repeat" => "section in schedule.getSections()", :mousehover => "schedule.showHints(section.id, $element)", "mouseleave" => "schedule.hideHints(section.id)", :section => ""}
        %div.highlight{:class=>"{{schedule.color(section.course_id)}}"}
        %div.section-content
          %span.course-name {{section.course.name}}
          %span.section-code  {{section.code}}
          %span.course-title {{section.course.title}}
          %span{:class => "enrollment status-{{section.enrollment}}", :title => "{{section.reason}}"}
          %span.section-type {{section.type}}
          %span.duration {{section.duration}}
      %div.schedule-block{"ng-repeat" => "section in schedule.hints", :hint => "", :class => "hint out", :drop => "schedule.replaceSection(oldId, newSection)"}
        %div.highlight{:class=>"{{schedule.color(section.course_id)}}"}
        %div.section-content
          %span.course-name {{section.course.name}}
          %span.section-code  {{section.code}}
          %span.course-title {{section.course.title}}
          %span{:class => "enrollment status-{{section.enrollment}}", :title => "{{section.reason}}"}
          %span.section-type {{section.type}}
          %span.duration {{section.duration}}
