= javascript_include_tag "scheduler.canvas.js"
%canvas{ :id=>"schedule-canvas", :class=>"hidden" }
  Your browser does not support this feature.
  Consider using a better browser such as Chrome.
  http://www.google.com/chrome
