%div{:class => "schedule-wrapper", "ng-show" => "schedule.length > 0" }
  %ul.time-label
    %li{"ng-repeat" => "hour in hourRange"} 
      {{print_hour(hour)}}
  %div{:class => "schedule-content", "data-tooltip" => "" }
    %ul.toolbar
      %li
        %a{:href => "#"} save
        %span
      %li
        %a{:href => "#"} image
        %span
      %li
        %a{:href => "#"} share
        %span
    %ul.day-header
      %li.header{"ng-repeat" => "day in days()"} {{day}}
    %div{:class => "schedule-display"}
      %ul{:class => "schedule-day", "ng-repeat" => "day in days()"}
        %li{"ng-repeat" => "hour in hourRange"}
      %div.schedule-block{"ng-repeat" => "section in flatSchedule", :mousehover => "showHints(section.id, $element)", "mouseleave" => "hideHints(section.id)", :section => "", :hint => "false", :class => "hidden"}
        %div.highlight{:class=>"{{color(section.course.id)}}"}
        %div.section-content
          %span.course-name {{section.course.name}}
          %span.section-code  {{section.code}}
          %span.course-title {{section.course.title}}
          %span{:class => "enrollment status-{{section.enrollment}}", :title => "{{section.reason}}"}
          %span.section-type {{section.type}}
          %span.duration {{section.duration}}
      %div.schedule-block{"ng-repeat" => "section in scheduleHints", "section" => "", :class => "hidden", :hint => "true"}
        %div.highlight{:class=>"{{color(section.course.id)}}"}
        %div.section-content
          %span.course-name {{section.course.name}}
          %span.section-code  {{section.code}}
          %span.course-title {{section.course.title}}
          %span{:class => "enrollment status-{{section.enrollment}}", :title => "{{section.reason}}"}
          %span.section-type {{section.type}}
          %span.duration {{section.duration}}
