-#colors = section_colors( @schedule )
-# start_hour = hour_range( @schedule )[0] - 1
-# @possible_moves.each do |section|
-#= render 'section', :section => section, :start_hour => start_hour, :colors => colors
= render "schedule", :sections => @schedule
