%div.sidebar
  - if @user
    = render :partial => "profile"
  - if not @user or (@user and current_user.id == @user.id)
    %div.primary-row
      %div.save{:title => "Save to Cloud"}
        %a{ "data-controls-modal" => "save-modal", "data-keyboard" => "true", :class => "button grey save-schedule" } 
          %span#save-img
          Save
      %div.download{:title => "Schedule picture"}
        %a{ :class => "button grey download-schedule"}
          %span#down-img 
          Download
    %a{ :class => "button blue share-schedule", :title => "Show your friends what you're taking"} 
      %span.fb-share
      Share Schedule
    %a{ "data-controls-modal" => "register-modal", "data-keyboard" => "true", :class => "button grey register-schedule tooltip", :title => "Get your CRNS and register on Enterprise"} Register
  = render :partial =>  "course_sidebar", :locals => { :sections => sections }
  -# hiding until we can find a better place for it, also button is not style correctly on chrome on osx
  %a{:class=>"button grey export icalendar"}=# Export to Google Calendar and iCalender
  =# link_to "?", scheduler_icalendar_help_path, :title=> "How does this work?", :target => "_blank"
  -if @user and not @user.friends.empty?
    = render :partial => "friends", :locals => {:user => @user}
