%div.sidebar
  %div.autocomplete-container
    %div{"ng-hide" => "scheduling"}= render 'shared/class_search'
    %div.scheduling{"ng-show" => "scheduling"}
      %div.loading-logo
      %span scheduling...
  %div.clear
  = render "course_sidebar", :sections => @schedule
