%div.sidebar
  -if @user
    = render 'profile'
  %div.autocomplete-container{"ng-show" =>"schedule.canModify"}
    %div{"ng-hide" => "schedule.loadingMessage"}= render 'shared/class_search'
    %div.scheduling{"ng-show" => "schedule.loadingMessage"}
      %div.loading-logo
      %span {{schedule.loadingMessage}}
  %div.clear
  = render "course_sidebar", :sections => @schedule
