%div.sidebar
  - if @user
    = render :partial => "profile"
  - if not @user or (@user and current_user.id == @user.id)
    %div.primary-row
      %div.save{:title => "Save to the cloud" }
        %span#save-img
        %a{ "data-controls-modal" => "save-modal", "data-keyboard" => "true", :class => "btn default save-schedule" } Save
      %div.download{:title => "Download picture"}
        %span#down-img
        %a{ :class => "btn download-schedule"} Download
    %a{ :class => "btn primary share-schedule", :title => "Show your friends what you're taking"} Share
    %a{ "data-controls-modal" => "register-modal", "data-keyboard" => "true", :class => "btn  success register-schedule tooltip", :title => "Get your CRNS and register on Enterprise"} Register
  = render :partial =>  "course_sidebar", :locals => { :sections => sections }
  -if @user and not @user.friends.empty?
    = render :partial => "friends", :locals => {:user => @user}
