- if not defined? course_page
  - course_page = false
%div.sidebar{"ng-controller" => "CourseListCtrl"}
  - if @user and not course_page
    = render :partial => "profile"
  - if not @user or (@user and current_user.id == @user.id) and not course_page
    %div.primary-row
      %div.save{:title => "Save to Cloud"}
        %a{ "data-controls-modal" => "save-modal", "data-keyboard" => "true", :class => "button grey save-schedule" } 
          %span#save-img
          Save
      %div.download{:title => "Schedule picture"}
        %a{ :class => "button grey download-schedule"}
          %span#down-img 
          Download
    %a{ :class => "button blue share-schedule", :title => "Show your friends what you're taking"} 
      %span.fb-share
      Share With Friends
    %a{ "data-controls-modal" => "register-modal", "data-keyboard" => "true", :class => "button grey register-schedule tooltip", :title => "Get your CRNS and register on Enterprise"} Register
  = render :partial =>  "scheduler/course_sidebar", :locals => { :sections => sections, :course_page => course_page }
  - if not @user or (@user and current_user.id == @user.id) and not course_page
    %div.primary-row
    %a{:class=>"button grey icalendar-modal small"} Export to Google Calendar
  -if @user and not @user.friends.empty? and not course_page
    = render :partial => "friends", :locals => {:user => @user}
