= content_for :title, "Classwhole - icalendar help"

%div#content
  %div.help
    %ol
      %li
        <p>Click the <strong>Export to Google Calendar and iCalender</strong> button and save the '.ics' file</p>
      %li
        <p>Open up <a href="https://www.google.com/calendar">Google Calendar</a></p>
      %li
        <p>Click the down-arrow next to <strong>Other calendars</strong> (bottom of left side menu)</p>
      %li
        <p>Select <strong>Import calendar</strong></p>
      %li
        <p>Click <strong>Choose file</strong> and find the file that you saved in step 1, then click <strong>Open</strong>.</p>
      %li
        <p>Select the Google Calendar where you'd like to import events, then click <strong>Import</strong>.</p>
      %li
        <p>Your schedule will now be on your calendar.  Go to the semester start date to see your classes</p>
