= javascript_include_tag "scheduler.js"
%div.scheduler-content
  - @possible_schedules.each do |sections|
    = render "schedule", :sections => sections
- #javascript:
- #//draw_all_schedules(#{@possible_schedules});
