= javascript_include_tag "scheduler.js"
- title = @user.name + "'s Spring 2012 Class Schedule"
= content_for :title, title

%div.scheduler-content
  = render "schedule", :sections => @sections
  = render :partial=>"need_to_login", :locals => {:name => "save"}
