= javascript_include_tag "scheduler.js"
%div.scheduler-content
  %div#slides
    %div.slides_container
      - i = 1
      - @possible_schedules.each do |sections|
        = render "schedule", :sections => sections
        - i += 1
    %a{:href=>"#", :class=>"prev"}
    %a{:href=>"#", :class=>"next"}
