- colors = section_colors( sections )
%ul.courses
  - courses, course_section_hash = courses_from_sections( sections )
  - courses.each do |course|
    - sections = course_section_hash[course.id]
    %li.course-item.hidden
      %ul.course
        %ul.sections
          - sections.each do |section|
            %li 
              %div
                %span{:class=>"hidden id"}=section.id

        :javascript 
          $(document).ready( function() {
            linkify_classes($(".course .course-name"));
            $("ul.classmates a").click( function() {
              mpq.track( "click sidebar profile" );
              //Mixpanel tracking
            });
          });
