University of Illinois
- for semester in Semester.all
  <br/>
  =# "Year: " +  semester.year + " Season: " + semester.season
  = link_to "Year: " +  semester.year + " Season: " + semester.season, show_semester_path(semester.season,semester.year)
