Showing Subject
= @subject.code
- for course in @courses
  <br/>
  = link_to( course.number, show_course_path(:year => @semester.year, :season => @semester.season, :subject_code => @subject.code, :course_number => course.number ) )
