%div.content
  Not a penis

  %div{:class=>"box vagina target"}
  %div{:class=>"box penis white", :draggable => "true", "data-race" => "white"}
  %div{:class=>"box penis black", :draggable => "true", "data-race" => "black"}

= javascript_include_tag "sandbox.js"
= javascript_include_tag "raphael-min.js"
