$bg-color           : url('grey-bg.png');
$default-font-color : #4D4D4D;

.ui-autocomplete-loading {
  background: image-url("small-ajax-loading.gif");
}

html, body {
  background: $bg-color;
  line-height: 1.22;
  font-family: 'Arial', 'Tahoma', sans-serif;
}

#wrapper {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  color: $default-font-color;
}

.left { float: left; }
.right { float: right; }
.hidden { display: none; }
strong { font-weight: bold; }
em { font-style: italic; }

.alert-message {
  .close {
    font-size: 14px;
  }
  font-size: 14px;
}

$content-bg-color   : url('grey-bg.png');
#content {
  font-family: 'Arial', 'Tahoma', sans-serif;
  padding: 40px;
  position: relative;
  background: $content-bg-color;
  h1 {
    text-align: center;
    font-size: 1.3em;
  }
  margin-top: 3em;
}
