$bg-color           : url('grey-bg.png');
$default-font-color : #4D4D4D;

.ui-autocomplete-loading {
  background: image-url("small-ajax-loading.gif");
}

html, body {
  background: $bg-color;
  line-height: 1.22;
  font-family: 'Arial', 'Tahoma', sans-serif;
}

#wrapper {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  color: $default-font-color;
  min-height: 100%;
}

.left { float: left; }
.right { float: right; }
.hidden { display: none; }
strong { font-weight: bold; }
em { font-style: italic; }

.alert-message {
  .close {
    font-size: 14px;
  }
  font-size: 14px;
  text-align: center;
}

$content-bg-color   : url('grey-bg.png');
#content {
  font-family: 'Arial', 'Tahoma', sans-serif;
  padding: 40px;
  position: relative;
  margin-top: 3em;
}

.content {
  font-family: 'Arial', 'Tahoma', sans-serif;
  padding: 40px;
  position: relative;
  background: #fff;
  margin-top: 3em;
  border: 1px solid #ccc;

  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    margin-top: 1em;
    line-height: 24px;
  }

  .email {
    background: #eee;
    border-radius: 1em;
  }

  img {
    margin-top: 1em;
  }
}
