body {
  background: #333333;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.ui-autocomplete-loading {
  background: image-url("small-ajax-loading.gif");
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
