$(document).ready(function(){

  function show_course_path( name ) {
    var name_copy = new String(name);
    name_copy = name_copy.split(" ");
    var subject = name_copy[0];
    var number = name_copy[1];
    var url = document.location.origin + "/courses/<%= $CURRENT_SEMESTER.season %>/<%= $CURRENT_SEMESTER.year %>/" + subject + "/" + number;
    return "<a href=\""+ url + "\" target=\"_BLANK\">" + name + "</a>";
  }


  function linkify_classes( element ) {
    var text = element.text();
    var re =  /[a-zA-Z]+\s[0-9][0-9][0-9]/g;
    var match = text.match(re);
    var html = "";
    var class_index = 0;
    for( var i in match ) {
      var class_name = match[i];
      class_index = text.search( class_name );
      html += text.substring( 0, class_index );
      html += show_course_path( class_name );
      text = text.substring( class_index + class_name.length );
    }
    html += text;
    element.html(html);
  }

  linkify_classes( $("#course_description") );
});
