@charset "UTF-8";

// Module colors
$sidebar_color: #efefef;

// Element colors
$a_link_color: #9dc7da;
$a_highlight_color: #d1f1ff;

$header_a: #b4daea;
$header_a_hover: #d1f1ff;

$time_label_color: #eee;

.color-0 {
  background: #6CCCE5;
}

.color-1 {
  background: #4DB788;
}

.color-2 {
  background: #FCC975;
}
