@charset "UTF-8";

// Module colors
$sidebar_color: #efefef;

// Element colors
$a_link_color: #9dc7da;
$a_highlight_color: #d1f1ff;

.color-0 {
  background: red;
}

.color-1 {
  background: blue;
}

.color-2 {
  background: yellow;
}
