#footer {
  display: none;
  position: relative;
  font-family: "Arial", "Helvetica",sans-serif;
  background: #fff;
  border: 1px solid #ccc;
  clear: both;
  height: 3em;
  margin-top: -6em;

  .container {
    padding: 1em;
  }

  .copyright {
    font-size: 12px;
  }

  /* CLEAR FIX*/
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .clearfix { 
    display: inline-block;  
  }
}

html, body, #wrapper { height: 100%; }
body > #wrapper { height: auto; min-height: 100%; }
