$header-spacing: 15px;
$a-link-color: #0069D6;

header {
  margin-top: 1px;
  font-family: 'Arial','Helvetica', sans-serif;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
  border-bottom: 1px solid #AAA;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;

  div.center {
    width: 940px;
    margin: 0 auto;
  }

  h3 a {
    font-family: 'Helvetica', sans-serif;
    display: block;
    float: left;
    color: #333;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1;
    margin-right: 30px;
    background: red;
    width: 165px;
    height: 40px;
    background: url('small-logo.png') no-repeat center;
    padding: 13px 0 0 0;
  }

  h3 a:hover { text-decoration: none; }
  h3 a:visited { color: #333; }

  nav {
    float: left;
    padding-top: 3px;
    a { 
      color: #555; 
      padding: 18px $header-spacing 18px 0;
      display: block;
      float: left;
      //margin-right: $header-spacing;
      font-family: 'RobotoLight', 'Arial', sans-serif;
    }
    a:visited {
      color: #888;
    }
    // overide default
    a:hover { color: $a-link-color; }

  }

  nav.secondary-nav { 
    float: right; 
    //padding: 14px 0;
    li {
      float: left;
    }
    .fb-button {
      padding: 14px 0;
      display: block;
      float: right;
    }

    a {
      display: inline-block;
      float: left;
    }
  }


}

.divider {
  width: 1px;
  height: 15px;
  background: #ccc;
  float: left;
  margin-top: 17px;
}

.dropdown {
  padding-left: 10px;
  width: 12px;
  height: 12px;
  background: url("dropdown.png") no-repeat center;
  display: block;
}
