@mixin gradient( $start, $end) {
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
  background: -moz-linear-gradient(top, $start, $end);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$start}", endColorstr='#{$end}');
}

@mixin transition($time, $mode) {
  -webkit-transition: $time $mode all;
  -moz-transition: $time $mode all;
  -ms-transition: $time $mode all;
  -o-transition: $time $mode all;
  transition: $time $mode all;
}

@mixin user-select( $type ) {
  -moz-user-select: $type;
  -o-user-select: $type;
  -khtml-user-select: $type;
  -webkit-user-select: $type;
}
