@mixin gradient( $start, $end) {
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
  background: -moz-linear-gradient(top, $start, $end);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$start}", endColorstr='#{$end}');
}

@mixin transition($time, $mode) {
  -webkit-transition: $time $mode all;
  -moz-transition: $time $mode all;
  -ms-transition: $time $mode all;
  -o-transition: $time $mode all;
  transition: $time $mode all;
}

@mixin user-select( $type ) {
  -moz-user-select: $type;
  -o-user-select: $type;
  -khtml-user-select: $type;
  -webkit-user-select: $type;
}

@mixin sans_serif($font) {
  font-family: $font, 'Arial', sans-serif;
}

@mixin roboto() {
  font-family: 'RobotoRegular', 'Arial', sans-serif;
}

@mixin roboto_medium() {
  @include sans_serif("RobotoMedium"); 
}

@mixin roboto_light() {
  @include sans_serif("RobotoLight"); 
}

@mixin arial() {
  font-family: 'Arial', sans-serif;
}

@mixin box-shadow($options) {
  box-shadow: $options;
  -moz-box-shadow: $options;
  -webkit-box-shadow: $options;
}

@mixin border-radius($options) {
  border-radius: $options;
}
