.prof-box {
  margin-bottom: 0px;
  margin-top: 10px;

  .prof-img {
    width: 128px;
    height: 128px;
    background: url("prof.png");
    display: block;
    float: left;
  }
  .prof-info {
    float: left;
  }

  .prof-name {
    display: block;
    font-size: 36px;
  }

  .rating {
    width: 65px;
    height: 30px;
    position: relative;
    margin-top: 13px;
  }

  .stars {
    background: url("google-icons.png");
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 14px;
  }

  .bg {
    background-position: -100px -260px;
  }

  .fg {
    background-position: -100px -275px;
    z-index: 1;
  }
}
