.color-0 {
  background: #c3ecff;
}
.color-1 {
  background: #EAFFD9;
}
.color-2 {
  background: #FFDDFF;
}
.color-3 {
  background: #FFD393;
}
.color-4 {
  background: #ffeec9;
}
.color-5 {
  background: #E0C4FF;
}
.color-6 {
  background: #a8edd8;
}
