.sidebar {
  float: left;
  width: 250px;
  margin: 0em 0em 0em 1.5em;
  font-size: .9em;
  color: #555;

  .fb-share {
    width: 39px;
    height: 40px;
    background: url("facebook-share-icon.png");
    display:inline-block;
    top: -1px;
    left: -1px;
    position: absolute;
    border-right: 1px solid #005AB8;
  }

  .register-schedule {
    margin-bottom: 0;
  }

  .share-schedule {
    padding-left: 64px;
  }

  .button {
    font-size: 1.3em;
    display: block;
    text-align: center;
    margin-bottom: 1em;

    &:active {
      position: relative;
      top: 0px;
    }
  }

  .label {
    background: #0069D6;
    background: #97B2CF;
    margin: 0;
    display: block;
    float: left;
    margin-right: 5px;
  }

  li {
    color: #555;
    overflow: hidden;
  }

  .primary-row {
    overflow: hidden;
    //background: red;
    font-size: 1em;

    .button {
      text-align: right;
    }

    .save {
      float: left;
      position: relative;
      width: 100px;
      #save-img {
        opacity: .5;
        height: 20px;
        width: 28px;
        background: url("cloud.png");
        display: block;
        position: absolute;
        top: 9px;
        left: 7px;
        cursor: pointer;
      }

      a {
        padding-right: 15px;
      }
    }
    .download {
      float: right;
      width: 130px;
      position: relative;
      #down-img {
        top: 6px;
        left: 9px;
        opacity: .5;
        height: 24px;
        width: 19px;
        background: url("http://i.imgur.com/Zlfvs.png");
        display: block;
        position: absolute;
        cursor: pointer;
      }

      a {
        padding-right: 11px;
      }
    }
  }

  .export {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Way to make a confusing clusterfuck kiran. */
  ul.courses {
    background: #fefefe;
    margin-top: 1em;
    //border: 1px solid #ccc;

    li.course-item {
      margin-bottom: 1em;
      ul.course {
        border: none;

        ul.sections {
          font-size: .9em;
          position: relative;

          li {
            padding: .4em;
            position: relative;
          }

          span.code {
            position: absolute;
            top: 5px;
            right: 18px;
            font-size: .9em;
          }
          span.time {
            position: absolute;
            top: 7px;
            left: 117px;
            text-transform: uppercase;
            font-size: .8em;
          }
          span.instructor {
            position: absolute;
            left: 36px;
            top: 4px;
            font-size: 1em;
          }

          span.crn {
            position: absolute;
            left: 36px;
            top: 4px;
            font-size: .9em;
          }

          span.enrollment {
            position: absolute;
            right: 4px;
            top: 7px;
          }
        }

        ul.classmates {
          li {
            float: left;
            position: relative;
            opacity: .6;
          }
          li:hover {
            opacity: 1;
          }
          a {
            width: 26px;
            height: 26px;
            display: block;
            z-index: 50;
            position: absolute;

            /* FB image positions weird */
            top: 4px;
            left: 4px;
          }
        }

        li.course-header { 
          padding: .5em; 
          border-bottom: 1px solid #ccc;
          border-top: 1px solid #ccc;
          span.course-name {
            font-size: 1.2em;
          }
          span.course-title {
            font-size: .8em;
          }
          span.course-hours {
            font-size: .8em;
          }
        }
        li {
          padding: .3em;

          ul.course {
            border: none;
          }
        }
      }
    }
  }
}
