@import 'colors';
@import 'mixins';
@import 'sizes';

// Schedule
.schedule-wrapper {
  width: 70%;
  min-width: 690px;
  float: left;
  @include user-select(none);
}

.time-label {
  float: left;
  margin-top: $toolbar_h + $day_header_h;

  li {
    height: $section_block_h;
    display: block;
    @include roboto();
    text-transform: uppercase;
    font-size: 10px;
    color: $time_label_color;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 1px solid transparent;
  }
}

.schedule-content {
  float: left;
  margin-left: -1px;
  width: 658px; //TODO: make this fluid
  @include user-select(none);
}

.scheduler-landing {
  float: left;
  margin-left: 15px;
  padding: 20px;
  width: 641px; //TODO: make this fluid
  background: #eee;
}

.schedule-day {
  width: 20%;
  float: left;
  position: relative;

  li {
    @include roboto();
    height: $section_block_h;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: inset 1px 1px 2px 1px white;
  }

  li:nth-child(even) {
    background: #f4f4f4;
  }

  li:nth-child(odd) {
    background: #f8f8f8;
  }
}

.schedule-display {
  position: relative;
}

.schedule-block {
  position: absolute;
  width: 100%;
  cursor: move;
  box-shadow: 1px 1px 3px #ccc;
  background: #fff;
  border: 1px solid #999;

  .highlight {
    width: 100%;
    height: 7px;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .section-content {
    position: relative;
    height: 100%;

    span {
      position: absolute;
      text-transform: uppercase;
      @include roboto_medium();
    }

    .course-name {
      left: 5px;
      top: 17px;
      font-size: 16px;
      color: #444;
    }

    .section-code {
      bottom: 5px;
      right: 5px;
      font-size: 13px;
      color: #bbb;
      @include sans_serif("RobotoLight");
    }

    .course-title {
      top: 38px;
      left: 5px;
      font-size: 10px;
      color: #666;
      line-height: 12px;
      @include sans_serif("RobotoLight");
    }

    .section-type {
      font-size: 13px;
      top: 17px;
      right: 5px;
      color: #888;
      @include sans_serif("RobotoLight");
    }

    .enrollment {
      top: 16px;
      right: 32px;
    }

    .duration {
      bottom: 5px;
      left: 5px;
      font-size: 12px;
      color: #888;
    }
  }
}

/* SECTION HINTS */
.hint {
  @include transition(opacity, 300ms);
  border: 1px dashed #aaaaaa;
  border-top: none;
  opacity: .8;

  .highlight {
    opacity: .7;
  }

  .section-content {
    .section-code {
      top: 15px;
      font-size: 16px;
      left: 5px;
      color: #555;
    }

    .duration {
      bottom: 5px;
      font-size: 16px;
      left: 5px;
      color: #555;
      @include roboto_thin();
    }
  }
}

.enrollment {
  display: block;
  width: 9px;
  height: 9px;
  background: url("status-icons.png");
}

.status-0 {
  background-position: 20px 0px;
}

.status-2 {
  background-position: 9px 0px;
}

.status-1 {
  background-position: 0px 0px;
}


ul.day-header {
  height: $day_header_h;
  border-bottom: 1px solid #e0e0e0;

  li {
    height: auto;
    background: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 0px 9px 0px;
    font-size: 10px;
    color: #777;
    float: left;
    width: 20%;
  }
}

.section-message {
  position: absolute;
  width: 145px;
  height: 15px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 10;

  span {
    @include roboto_medium();
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
  }

  .down-arrow {
    margin: 0 auto;
    margin-top: 4px;
  }
}

.hover {
  opacity: 1.0;
  border: 1px solid #999;
}
