// Place all the styles related to the scheduler controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 
  global color variables 
  
  tweak these to style the main page
  TODO: unclutter this clutter

*//*

  all positions 

  -h: height; 
*/

@mixin shadow($x, $y, $blur, $color, $inset : "") {
  box-shadow: $inset $x $y $blur $color;
  -moz-box-shadow: $inset $x $y $blur $color;
  -webkit-box-shadow: $inset $x $y $blur $color;
}

// schedule
$block-width        : 150px;
$schedule-block-h   : 60px;
$numblocks          : 12;

/* all colors */
// These are the main element colors 
$default-font-color : #4D4D4D;
$accent-font-color  : #333333;


$showcase-bg        : url('showcase-bg.png');


#showcase {
  width: 100%;
  height: 350px;
  position: relative;
  background: $showcase-bg;
  padding-top:  40px;

  -webkit-box-shadow: inset 0px 3px 3px #444444;
}

#showcase-title {
  margin-top: 70px;
  height: 50px;
  text-align: center;
  h1 {
    font-size: 1.7em;
  }
}


.schedule-day {
  width: $block-width;
  position: relative;
  background: #cccccc;
  float: left;
  margin: 0 0px 0 0px;
  //overflow: hidden;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #aaaaaa;

  tr {
    display: block;
    height: $schedule-block-h - 2;
    width: 100%;
    background: #dddddd;
    border-top: 1px solid #aaaaac;
    border-left: 1px solid #aaaaac;
    /* Highlight white inner */
    box-shadow: inset 1px 1px 1px 0px white;
    -moz-box-shadow: inset 1px 1px 1px 0px white;
    -webkit-box-shadow: inset 1px 1px 1px 0px white;
  } 
}

$block_padding: 4px;
.schedule-block {
  width: 100%;
  background: white;
  position: absolute;
  border: 1px solid #999999;
  cursor: move;

  box-shadow: 1px 2px 2px 1px #cccccc;
  -webkit-box-shadow: 1px 2px 2px 1px #cccccc;
  -mox-box-shadow: 1px 2px 2px 1px #cccccc;

  span {
    position: absolute;

  }

  .section-code {
    bottom: $block_padding;
    left:   $block_padding;
    color: #444;
    font-size: 0.8em;
  }
  .course-name {
    top:    $block_padding;
    left:   $block_padding;
    color: #444;
  }
  .section-type {
    top:    $block_padding;
    right:   $block_padding;
    background: #0069D6;
  }

  .course-title {
    font-size: .7em;
    top: $block_padding * 5.5;
    left: $block_padding;
    color: #888;
  }

  .duration {
    font-size: .7em;
    bottom: $block_padding + 1;
    right: $block_padding;
    text-transform: uppercase;
    color: #444;
  }

}
.schedule-wrapper {
  clear: both;
  //overflow: hidden;
  margin-bottom: 50px;
  position: relative;

  ul.time-label {
    margin-top: 1.8em;
    float: left;

    li {
      display: block;
      text-align: right;
      padding-right: 15px;
      //line-height: $schedule-block-h;
      height: $schedule-block-h;
      //border: 1px solid transparent;
      font-size: .8em;
      text-transform: uppercase;
    }
  }

  ul.schedule-day {
    //overflow:hidden;
    position: relative;

    li.header {
      background: white;
      height: 100%;
      text-align: center;
      padding: .5em;
    }
    
    li {
      height: $schedule-block-h;
      border: 1px solid #eeeeee;
      display: block;
      height: $schedule-block-h - 2;
      width: 100%;
      background: #dddddd;
      border-top: 1px solid #aaaaac;
      border-left: 1px solid #aaaaac;
      /* Highlight white inner */
      box-shadow: inset 1px 1px 1px 0px white;
      -moz-box-shadow: inset 1px 1px 1px 0px white;
      -webkit-box-shadow: inset 1px 1px 1px 0px white;
    }
  }

  ul.hidden-data {
    position: absolute;
    display: none;
    border-bottom: 1px solid #ccc;

    li {
      border: none;
      background: white;
      height: 100%;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      font-size: .8em;

      span {
        position: relative;
        padding: .35em;
        display: block;
      }

      span.data {
        color: #555;
      }

      span.title {
        background: #eee;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
    }

    ul:first-child {
      border: none;
    }
  }

}

.ui-droppable {
  opacity: .5;
  border: 1px dashed #888; 
  cursor: pointer;
}

ul.hidden-data {
  display: none;
}

.hover {
  opacity: .8;
}

.scheduler-content {
  font-family: 'Arial', 'Tahoma', sans-serif;
  padding: 40px;
  position: relative;
  background: white;
  border: 1px solid #aaaaaa;
  h1 {
    text-align: center;
    font-size: 1.3em;
    padding: 1em;
  }
  margin-top: 3em;
}

strong {
  font-weight: bold;
}

.color-0 {
  background: #E0F8FF;
}
.color-1 {
  background: #EAFFD9;
}
.color-2 {
  background: #FFF2FF;
}
.color-3 {
  background: #FFF4F2;
}
.color-4 {
  background: #F3fba2;
}

ul.pagination {
  position: absolute;
  top: 0em;
  right: 5em;
}

.next {
  position: absolute;
  top: 200px;
  right: -24px;
  width: 24px;
  height: 43px;
  background: red;
  background: image-url("arrow-next.png");
}

.prev {
  position: absolute;
  top: 200px;
  left: -24px;
  width: 24px;
  height: 43px;
  background: image-url("arrow-prev.png");
    // If we aren't given a position to insert the selected box, don't add 
      // If we aren't given a position to insert the selected box, don't add 
}
