$course-list-bg     : white; //#E6E6E6;

.user-course-list-wrapper {
  width: 400px;
  margin: 0 auto;
  position: relative;
  padding: 1em;
  font-size: 1.1em;

  .user-course-list {
    padding: 1em;
    background: $course-list-bg;
    border: 1px solid #bbbbbb;
  }

  h1 {
    font-family: 'Georgia', 'Times New Roman', 'Georgia', serif;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: .5em;
  }

  li {
    font-family: 'Arial', 'Tahoma', serif;
    font-size: .9em;
    list-style-type: none;
    height: 2.5em;
    border-bottom: 1px dotted #cccccc;
    background: #fefefe;
    color: #888;
    position: relative;

    span {
      position: absolute;
      top: 1em;
      left: 1em;
      font-size: .9em;
    }

    a.remove-link { 
      position: absolute;
      font-size: .75em;
      color: #AAAAAA; 
      text-decoration: none; 
      right: 1em;
      top: 1em;
    }
  }

  input.btn {
    width: 100%;
    font-size: 1.2em;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
  }

  span.hint {
    font-family: 'Georgia', 'Times New Roman', 'Georgia', serif;
    display: block;
    font-size: .75em;
    font-style: italic;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid #CDCDCD;
  }
}

.hidden-course-form {
  height: 0px;
}
