$course-list-bg     : white; //#E6E6E6;

.user-course-list-wrapper {
  font-family: 'Arial', 'Tahoma', serif;
  width: 917px;
  height: 513px;
  //margin: 5% auto 0 auto;
  position: relative;
  //padding: 1em;
  font-size: 1.6em;
  background: url("schedule-blur.png");

  .user-course-list {
    padding: 1em;
    background: $course-list-bg;
    border: 1px solid #bbbbbb;
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
    position: relative;

    a.plus {
      float: left;
      width: 25px;
      font-size: 35px;
      text-transform: uppercase;
      margin-top: 0px;
      padding: 2px 5px 3px 8px;
      /* Thanks Gaygle ^^ */
      background-color: #4D90FE;
      background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
      background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
      background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
      background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
      background-image: linear-gradient(top,#4D90FE,#4787ED);
      border: 1px solid #3079ED;
      color: white;
    }

    a.plus:hover {
      text-decoration: none;
    }

  }

  a.schedule {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
    background: #0069D6;
    height: 37px;
    padding: 12px 0px;
    color: white;
  }

  h1 {
    //font-family: 'Georgia', 'Times New Roman', 'Georgia', serif;
    font-size: 1em;
    text-align: left;
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: .7em;
    color: #999;
    padding-left: 5.9em;
  }

  li {
    font-size: .8em;
    list-style-type: none;
    height: 2.5em;
    border-bottom: 1px dotted #cccccc;
    background: #fefefe;
    color: #888;
    position: relative;

    .header {
      font-size: .8em;
      .code {
        color: #888;
        font-weight: lighter;
      }
    }

    span {
      top: .85em;
      position: absolute;
    }

    span.code {
      right: 75%;
      font-size: 1em;
      color: #666;
      font-weight: bold;
      // good-blue: #6a97c6
      // good-orange: #f68a42
    }
    span.label {
      right: 17em;
      font-size: .9em;
      background: #f68a42;
      // good-grey: #aaa;
      // good-blue: #6a97c6
      // good-orange: #f68a42
    }

    span.title {
      left: 30%;
      text-align: center
    }

    a.remove-link {
      cursor: pointer; 
      position: absolute;
      font-size: .75em;
      color: #AAAAAA; 
      text-decoration: none; 
      right: 1em;
      top: 1.2em;
    }
  }

  span.hint {
    font-family: 'RobotoRegular','Georgia', 'Times New Roman', 'Georgia', serif;
    display: block;
    font-size: 24px;
    text-align: center;
    padding-bottom: 1em;
    //font-style: italic;
    //padding-top: 1em;
    //border-bottom: 1px solid #CDCDCD;
  }

  .alert-box {
    position: absolute;
    width: 92.5%;
    width: 200px;
    margin: 0 auto;
    bottom: -15px;

  }

  .hours {
    opacity: 0;
    position: absolute;
    right: -3em;
    bottom: -1.2em;
    display: block;
    color: #777;
    z-index: 1000;
    span {
      font-size: 2em;
    }
  }

}

.fb-like,
.fb_edge_widget_with_comment {
  margin-top: 20px;
}

.hidden-course-form {
  height: 0px;
}
